### This is the example settings file, use parts of it to create your own 'application-dev.yml' file in this directory.
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: <yourpassword>
    url: jdbc:postgresql://localhost:<yourDBport>/Vercasm_Utils
    username: postgres
  jpa:
    show-sql: true
    hibernate:
      ddl_auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true